
_ReSharper.Monitis/
Monitis/obj/Debug/
Monitis/bin/
MonitisTestApp/bin/
MonitisTestApp/obj/
Monitis.Tests/obj/
packages/
Monitis.sln.DotSettings.user
.gitignore.BACKUP.4576.gitignore
.gitignore.BACKUP.5548.gitignore
.gitignore.BACKUP.7208.gitignore
.gitignore.BASE.4576.gitignore
.gitignore.BASE.5548.gitignore
.gitignore.BASE.7208.gitignore
.gitignore.LOCAL.4576.gitignore
.gitignore.LOCAL.7208.gitignore
.gitignore.LOCAL.5548.gitignore
.gitignore.orig
Monitis.Tests/bin/
.gitignore.REMOTE.4576.gitignore
.gitignore.REMOTE.5548.gitignore
.gitignore.REMOTE.7208.gitignore
Monitis.sln.DotSettings.user
MonitisTestApp/Program.cs.BACKUP.6336.cs
MonitisTestApp/Program.cs.BASE.6336.cs
MonitisTestApp/Program.cs.LOCAL.6336.cs
MonitisTestApp/Program.cs.orig
MonitisTestApp/Program.cs.REMOTE.6336.cs
Monitis/obj/
MoMA/momareport.htm
MoMA/momareport.htm
MoMA/momareport.htm
MoMA/Reports/submit.xml
Profiler/_ReSharper.Profiler/
Profiler/MonitisProfiler/Debug/
Profiler/Profiler.sdf
Profiler/Profiler.suo
Profiler/ProfilerLauncher/obj/
Profiler/TestProfilerApplication/obj/
Profiler/x86/Debug/
Profiler/ipch/monitisprofiler-f4a5631e/monitisprofiler-c4d7d352.ipch
Profiler/MonitisProfiler/Release/
MonitisProfilerSetup_x64/Release/
MonitisProfilerSetup_x86/Release/
Profiler/MonitisProfiler/x64/
Monitis.sdf
Monitis.opensdf
Monitis.suo
Profiler/x64/Debug/
Profiler/x64/
SetupExtensions/bin/
Profiler/x86/
SetupExtensions/obj/
x64/
x86/
Monitis.suo
Monitis.suo
Profiler/SetupExtensions/obj/
Profiler/SetupExtensions/bin/
Profiler/MonitisProfilerSetup_x86/Release/
Profiler/MonitisProfilerSetup_x64/Release/
Monitis.suo
Profiler/MonitisProfiler/MonitisProfiler_i.c
Profiler/MonitisProfiler/MonitisProfiler_i.h
Profiler/MonitisProfiler/MonitisProfiler_p.c
Monitis.suo